/*
 *  UX Lausanne 2014 variables
 */



// Brand colors
// -------------------------

@brand-primary:         #ff0000;
@brand-warning:         #f0ad4e;
@brand-danger:          #d9534f;
@brand-info:            #5bc0de;

// Scaffolding
// -------------------------



// Links
// -------------------------

@link-hover-color:      darken(@link-color, 15%);

// Typography
// -------------------------

@border-radius-base:             0px;
@border-radius-large:            0px;
@border-radius-small:            0px;

@padding-large-vertical:         14px;
@padding-large-horizontal:       36px;
@font-size-large:                ceil(@font-size-base * 1.9); // ~18px