{% extends "event2014.html.twig" %}

{% block overview_active %}{% endblock %}
{% block speakers_active %} class="active"{% endblock %}

{% block detail_infos %}
<div class="row">
    <div class="col-xs-6 col-sm-3">
        <a href="#" class="thumbnail">
            <img src="http://lorempixel.com/g/300/300/people/1" alt="">
            <div class="caption">
                <h4>Ben Bryant</h4>
                <p>Beyond focussing and towards noticing</p>
            </div>
        </a>
    </div>
    <div class="col-xs-6 col-sm-3">
        <a href="#" class="thumbnail">
            <img src="http://lorempixel.com/g/300/300/people/2" alt="">
            <div class="caption">
                <h4>Uri Alon</h4>
                <p>Together into the Unknown: What science can learn from improvisation theatre</p>
            </div>
        </a>
    </div>
    <div class="clearfix visible-xs"></div>
    <div class="col-xs-6 col-sm-3">
        <a href="#" class="thumbnail">
            <img src="http://lorempixel.com/g/300/300/people/3" alt="">
            <div class="caption">
                <h4>Valérie Issumo</h4>
                <p>Wastewater: a resource or a weapon of mass destruction?</p>
            </div>
        </a>
    </div>
    <div class="col-xs-6 col-sm-3">
        <a href="#" class="thumbnail">
            <img src="http://lorempixel.com/g/300/300/people/3" alt="">
            <div class="caption">
                <h4>Valérie Issumo</h4>
                <p>Wastewater: a resource or a weapon of mass destruction?</p>
            </div>
        </a>
    </div>
</div>
<div class="row">
    <div class="col-xs-6 col-sm-3">
        <a href="#" class="thumbnail">
            <img src="http://lorempixel.com/g/300/300/people/1" alt="">
            <div class="caption">
                <h4>Ben Bryant</h4>
                <p>Beyond focussing and towards noticing</p>
            </div>
        </a>
    </div>
    <div class="col-xs-6 col-sm-3">
        <a href="#" class="thumbnail">
            <img src="http://lorempixel.com/g/300/300/people/2" alt="">
            <div class="caption">
                <h4>Uri Alon</h4>
                <p>Together into the Unknown: What science can learn from improvisation theatre</p>
            </div>
        </a>
    </div>
    <div class="clearfix visible-xs"></div>
    <div class="col-xs-6 col-sm-3">
        <a href="#" class="thumbnail">
            <img src="http://lorempixel.com/g/300/300/people/3" alt="">
            <div class="caption">
                <h4>Valérie Issumo</h4>
                <p>Wastewater: a resource or a weapon of mass destruction?</p>
            </div>
        </a>
    </div>
    <div class="col-xs-6 col-sm-3">
        <a href="#" class="thumbnail">
            <img src="http://lorempixel.com/g/300/300/people/3" alt="">
            <div class="caption">
                <h4>Valérie Issumo</h4>
                <p>Wastewater: a resource or a weapon of mass destruction?</p>
            </div>
        </a>
    </div>
</div>
<div class="row">
    <div class="col-xs-6 col-sm-3">
        <a href="#" class="thumbnail">
            <img src="http://lorempixel.com/g/300/300/people/1" alt="">
            <div class="caption">
                <h4>Ben Bryant</h4>
                <p>Beyond focussing and towards noticing</p>
            </div>
        </a>
    </div>
    <div class="col-xs-6 col-sm-3">
        <a href="#" class="thumbnail">
            <img src="http://lorempixel.com/g/300/300/people/2" alt="">
            <div class="caption">
                <h4>Uri Alon</h4>
                <p>Together into the Unknown: What science can learn from improvisation theatre</p>
            </div>
        </a>
    </div>
    <div class="clearfix visible-xs"></div>
    <div class="col-xs-6 col-sm-3">
        <a href="#" class="thumbnail">
            <img src="http://lorempixel.com/g/300/300/people/3" alt="">
            <div class="caption">
                <h4>Valérie Issumo</h4>
                <p>Wastewater: a resource or a weapon of mass destruction?</p>
            </div>
        </a>
    </div>
    <div class="col-xs-6 col-sm-3">
        <a href="#" class="thumbnail">
            <img src="http://lorempixel.com/g/300/300/people/3" alt="">
            <div class="caption">
                <h4>Valérie Issumo</h4>
                <p>Wastewater: a resource or a weapon of mass destruction?</p>
            </div>
        </a>
    </div>
</div>
{% endblock %}