{% extends "event2014.html.twig" %}

{% block overview_active %}{% endblock %}
{% block venue_active %} class="active"{% endblock %}

{% block detail_infos %}

<img src="http://lorempixel.com/g/800/300/business/3" alt="" width="100%">

<p><strong>UNIL | Université de Lausanne</strong><br/>
    Quartier UNIL-Sorge<br/>Université de Lausanne<br/>1015 Lausanne<br/>
    <a href="#">get directions</a>
</p>


{% endblock %}