{% extends "base.html.twig" %}

{% block title %}TEDxLausanne{% endblock %}

{% block body %}

<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="pull-right">
                    <p>
                        <strong>10 February 2014</strong><br/>
                        UNIL | Université de Lausanne
                    </p>
                </div>
                
                <h1>TEDx Lausanne <br/>is back</h1>
                <p>
                    "perpetual (r)evolution”, will feature carefully selected speakers who will take you on a journey from which you’ll emerge inspired, stimulated and ready to catch your next opportunity for (r)evolution.
                </p>
                <a href="#" class="btn btn-primary btn-lg">Register now</a>
            </div>
        </div>
    </div>
</div>

<div class="isolated"></div>

<div class="container">
    <div class="row">

        <div class="col-sm-5 col-xs-12">
            <div class="well">
                <h3>About TEDx Lausanne</h3>
                <p>In the spirit of “ideas worth spreading”, TEDxLausanne is a local TED-like event bringing you brilliant speakers, inspirational videos, and an opportunity to have great conversation. Learn about new ideas for tomorrow's world and share your own.</p>
                <a href="about-us">More about TEDx Lausanne</a>
            </div>
        </div>
        <div class="col-sm-7 col-xs-12">
            <h2>Informations</h2>
            <hr>
            <div>
                <h3>Registration will open in November</h3>
                <p>
                    Stay tuned by subscribing to our <a href="newsletter">newsletter</a> or following us on <a href="#facebook">Facebook</a>, <a href="#">Twitter</a> and <a href="#">Linkedin</a>.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="isolated"><hr></div>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1>
                Speaker and talk selection
                <a href="#" class="btn btn-primary pull-right isolated">Discover more inspiring talks</a>
            </h1>

            <p>We need a text for this section presenting some of TEDx Lausanne best talks</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 col-sm-4 col-md-2">
            <a href="#" class="thumbnail">
                <img src="http://lorempixel.com/g/300/300/people/1" alt="">
                <div class="caption">
                    <h4>Ben Bryant</h4>
                    <p>Beyond focussing and towards noticing</p>
                </div>
            </a>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-2">
            <a href="#" class="thumbnail">
                <img src="http://lorempixel.com/g/300/300/people/2" alt="">
                <div class="caption">
                    <h4>Uri Alon</h4>
                    <p>Together into the Unknown: What science can learn from improvisation theatre</p>
                </div>
            </a>
        </div>
        <div class="clearfix visible-xs"></div>
        <div class="col-xs-6 col-sm-4 col-md-2">
            <a href="#" class="thumbnail">
                <img src="http://lorempixel.com/g/300/300/people/3" alt="">
                <div class="caption">
                    <h4>Valérie Issumo</h4>
                    <p>Wastewater: a resource or a weapon of mass destruction?</p>
                </div>
            </a>
        </div>
        <div class="clearfix visible-sm"></div>
        <div class="col-xs-6 col-sm-4 col-md-2">
            <a href="#" class="thumbnail">
                <img src="http://lorempixel.com/g/300/300/people/4" alt="">
                <div class="caption">
                    <h4>Jenna and Renatus</h4>
                    <p>SparksTraining, Ignite your spark</p>
                </div>
            </a>
        </div>
        <div class="clearfix visible-xs"></div>
        <div class="col-xs-6 col-sm-4 col-md-2">
            <a href="#" class="thumbnail">
                <img src="http://lorempixel.com/g/300/300/people/3" alt="">
                <div class="caption">
                    <h4>Valérie Issumo</h4>
                    <p>Wastewater: a resource or a weapon of mass destruction?</p>
                </div>
            </a>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-2">
            <a href="#" class="thumbnail">
                <img src="http://lorempixel.com/g/300/300/people/4" alt="">
                <div class="caption">
                    <h4>Jenna and Renatus</h4>
                    <p>SparksTraining, Ignite your spark</p>
                </div>
            </a>
        </div>
    </div>
</div>

{% endblock %}